body {
    background-color: lightskyblue;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    padding: 10px;
}

.btn {
    width: 100%;
    height: 30px;
    background-color: brown;
    color: white;
}

.total-cart {
    display: flex;
    justify-content: flex-end;
}

.cart-container {
    display: flex;
    justify-content: flex-end;
}

.cart {
    display: none;
}

.small img { 
    width: 4em; 
    border-radius: 50%;
}

.medium img { 
    width: 5em; 
    border-radius: 50%;
}

.large img { 
    width: 7em; 
    border-radius: 50%;
}

.specials {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.medium, .large, .small {
    width: 100%;
}

.medium {
    background-color: yellow;
}

.large {
    background-color: purple;
}

.small {
    background-color: orange;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: yellowgreen;
}

.container {
    margin: 10px;
}

@media (max-width: 688px) {
    .specials {
        flex-direction: column;
    }

    .footer {
        width: 100%;
    }
}